In [1]:
import pandas
data = pandas.read_csv('titanic.csv')

In [3]:
# task-1

male_data = data[data['Sex'] == 'male']
female_data = data[data['Sex'] == 'female']

len(male_data), len(female_data)

(577, 314)

In [4]:
# task-2

all_count = len(data)
survived_count = len(data[data['Survived'] == 1])
all_count, survived_count, round(survived_count/all_count*100, 2)

(891, 342, 38.38)

In [5]:
# task-3

first_class_count = len(data[data['Pclass'] == 1])
all_count, first_class_count, round(first_class_count/all_count*100, 2)

(891, 216, 24.24)

In [6]:
# task-4

ages = data['Age']
avg_age = ages.mean()
med_age = ages.median()

round(avg_age, 2), round(med_age)

(29.7, 28)

In [7]:
# task-5

corr_by_pirson = data[['SibSp', 'Parch']].corr()
corr_by_pirson

          SibSp     Parch
SibSp  1.000000  0.414838
Parch  0.414838  1.000000

In [10]:
# task-6
data = pandas.read_csv('titanic.csv')
data = data[data['Sex'] == 'female']

def normalize_name(name):
    separator = " "
    if "(" in name:
        name = name.split("(")[1].strip()
    if "." in name:
        name = name.split(".")[1].strip()
    result = name.split(" ")[0].strip()
    return result


data = data['Name'].map(lambda x : normalize_name(x)) 
freq_name = data.value_counts()
freq_name

Anna          14
Mary          13
Margaret      10
Elizabeth     10
Alice          6
              ..
Alfrida        1
Erna           1
Lyyli          1
Eva            1
Catherine)     1
Name: Name, Length: 186, dtype: int64